[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ncodeR"]
	path = ncodeR
	url = https://github.com/cran/ncodeR
[submodule "rENA"]
	path = rENA
	url = https://github.com/cran/rENA
[submodule "rhoR"]
	path = rhoR
	url = https://github.com/cran/rhoR
[submodule "tma"]
	path = tma
	url = https://github.com/cran/tma
